<div class="container">
  <div class="row">
    <div class="col-12 containerCard" *ngIf="ficheBestiaire && ficheBestiaire.length > 0">
        <h3>Detail de l'oeuvre !!</h3>
        <ul>
          <div class="cardOeuvre">
            <div>
          <li><span>Nom de l'oeuvre : </span> {{ficheBestiaire[0].name}}</li>
          <li><span>Materiaux utilisé :</span> {{ficheBestiaire[0].materials}}</li>
          <li><span>Largeur (cm) : </span>{{ficheBestiaire[0].width}}</li>
          <li><span>Hauteur (cm) : </span>{{ficheBestiaire[0].height}}</li>
          <li><span>Description : </span>{{ficheBestiaire[0].reproduction}}</li>
            </div>
          <div>
            <img src={{photoPrincipale}} alt="photo principale" class="photoPrincipale" (click)="openDialog(photoPrincipale)">
            <div class="clickImage">Cliquez sur l'image pour agrandir</div>
          </div>
        
          </div>
        </ul>
    </div>
  </div>
</div>
<div class="container-fluid ">
  <div class="row">
      <div class="col-6 col-sm-3 containerPhotos">
          <img src={{photoPrincipaleAnnexe}} alt="photo annexe" class="photoAnnexe" (click)="onReplacePhotoPrincipale(photoPrincipaleAnnexe)">
      </div>
      <div class="col-6 col-sm-3 containerPhotos">
          <img src={{photo_Annexe2}} alt="photo annexe" class="photoAnnexe" (click)="onReplacePhotoPrincipale(photo_Annexe2)">
      </div>
      <div class="col-6 col-sm-3 containerPhotos">
          <img src={{photo_Annexe3}} alt="photo annexe" class="photoAnnexe" (click)="onReplacePhotoPrincipale(photo_Annexe3)">
      </div>
      <div class="col-6 col-sm-3 containerPhotos">
          <img src={{photo_Annexe4}} alt="photo annexe" class="photoAnnexe" (click)="onReplacePhotoPrincipale(photo_Annexe4)">
      </div>
       
  </div>
</div>


