<div class="container">
  <div class="row">
    <div class="col-12 containerCard" *ngIf="ficheBestiaire">
        <h3 class="titleOeuvre">{{ficheBestiaire.name}}</h3>
        <ul>
          <div class="cardOeuvre">
            <div>
          <li>{{ficheBestiaire.materials}}</li>
          <li>{{ficheBestiaire.width}} cm de large</li>
          <li>{{ficheBestiaire.height}} cm de haut</li>
          <li>{{ficheBestiaire.reproduction}}</li>
            </div>
          <div>
            <img src={{photoPrincipale}} alt="photo principale" class="photoPrincipale" (click)="openDialog(photoPrincipale, this.ficheBestiaire)">
            <div class="clickImage">Cliquez sur l'image pour agrandir</div>
          </div>
        
          </div>
        </ul>
    </div>
  </div>
</div>
<div class="container-fluid ">
  <div class="row">
      <div class="col-6 col-sm-3 containerPhotos">
          <img src={{photoPrincipaleAnnexe}} alt="photo annexe" class="photoAnnexe" (click)="onReplacePhotoPrincipale(photoPrincipaleAnnexe)">
      </div>
      <div class="col-6 col-sm-3 containerPhotos">
          <img src={{photo_Annexe2}} alt="photo annexe" class="photoAnnexe" (click)="onReplacePhotoPrincipale(photo_Annexe2)">
      </div>
      <div class="col-6 col-sm-3 containerPhotos">
          <img src={{photo_Annexe3}} alt="photo annexe" class="photoAnnexe" (click)="onReplacePhotoPrincipale(photo_Annexe3)">
      </div>
      <div class="col-6 col-sm-3 containerPhotos">
          <img src={{photo_Annexe4}} alt="photo annexe" class="photoAnnexe" (click)="onReplacePhotoPrincipale(photo_Annexe4)">
      </div>
       
  </div>
</div>


