<!-- <form (ngSubmit)="onSearchBar(f)" #f="ngForm" class="formSearch">
    <input class="form-control mr-sm-2 input" type="search" placeholder="Recherche par mot clé" aria-label="Search"  name="word" ngModel>
    <button class="btn btn-outline-success btnSearch" type="submit"><i class="fa fa-search"></i></button>
  </form> -->

  
  <form (ngSubmit)="onSearchBar(f)" #f="ngForm" class="formSearch">
    
      <mat-form-field appearance="legacy">
          <mat-label>Legacy form field</mat-label>
          <input class="input" type="search" matInput placeholder="Placeholder" name="word" ngModel>
          <span matPrefix class="prefix">
              <mat-icon matSuffix>
                  <button type="submit" class="btn btn-outline-success btnSearch">
                    <i class="fa fa-times"></i> 
                  </button>
              </mat-icon>
            
          </span>
          <mat-icon matSuffix>
              <button type="submit" class="btn btn-outline-success btnSearch">
                <i class="fa fa-search"></i> 
              </button>
          </mat-icon>
         
          
        </mat-form-field>
        
 

    </form>
    