  <div class="d-none d-sm-block containtSearch">
    <button (click)="onShowSearchBar()" *ngIf="isOpen === false" class="btn btn-outline-success BtnLoupe">
        <i class="fa fa-search"></i>
    </button>
      <form *ngIf="isOpen === true" (ngSubmit)="onSearchBar(f)" #f="ngForm" class="formSearch">
            <mat-form-field appearance="legacy">
              <mat-label>Recherche par mots-clés</mat-label>
             <input class="input" type="search" matInput placeholder="Recherche" name="word" ngModel>
              <span matPrefix class="prefix">
                  <mat-icon matPrefix (click)="onHideSearchBar()">
                      <button class="btn btn-outline-success btnSearch">
                        <i class="fa fa-times"></i> 
                      </button>
                  </mat-icon>
            </span>
            <span>
            </span>
              <mat-icon matSuffix>
                  <button type="submit" class="btn btn-outline-success btnSearch">
                    <i class="fa fa-search"></i> 
                  </button>
              </mat-icon>
            </mat-form-field>
        </form>
  </div>
  <div class="d-block d-sm-none containtSearch">
        <form (ngSubmit)="onSearchBar(f)" #f="ngForm" class="formSearch">
                <mat-form-field appearance="legacy">
                  <mat-label>Recherche par mots-clés</mat-label>
                 <input class="input" type="search" matInput placeholder="Recherche" name="word" ngModel>
                  <span matPrefix class="prefix">
                      <mat-icon matPrefix>
                          <button class="btn btn-outline-success btnSearch">
                            <i class="fa fa-search"></i> 
                          </button>
                      </mat-icon>
                </span>
                </mat-form-field>
            </form>
  </div>
  
    