.formSearch{
   border:2px red solid
}
.btnSearch{ 
   border:none;
}
.prefix{
    margin-right:20px;
}

.mat-form-field{
    border:2px blue solid;
    width: 100%;
}

.input{ 
    padding-bottom: 2px;
}