<div class="container">
  <div class="row">
    <div class="col-12 containerModal">
      <img src={{srcPhoto}} alt="photo principale"/>
      <i class="fa fa-times-circle fa-3x close" (click)="onCloseCancel()"></i>
    </div>
    <div class="col-12">
      <ul class="list">
        <li>{{oeuvre.name}}</li>
        <li>{{oeuvre.materials}}</li>
        <li>{{oeuvre.width}} cm de large</li>
        <li>{{oeuvre.height}} cm de haut</li>
        <li>{{oeuvre.reproduction}}</li>
      </ul>
      </div>
    </div>
</div>