<div class="row">
    <h3>Administration du site</h3>
    <div class="col-12 containtForm">
       <form (ngSubmit)="onConnexion(f)" #f="ngForm" class="formAuth">
            <h5> Connexion à l'Administration</h5>
                <div>
                    <mat-form-field class="inputForm">
                        <input matInput type="email" id="email" placeholder="email" 
                        name="email"  [(ngModel)]="admin.email" 
                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" email>
                         <mat-error class="inputError" *ngIf="!email.pattern || email.invalid">
                                Mauvais format de mail
                        </mat-error>
                    </mat-form-field>
                 </div>
                <div>
                    <mat-form-field  class="inputForm">
                        <input matInput [type]="hide ? 'password' : 'text'" id="password"  placeholder="password" name="password" ngModel>
                        <mat-icon matSuffix *ngIf="hide" (click)="hide = !hide"> <i class="fa fa-eye"></i></mat-icon>
                        <mat-icon matSuffix *ngIf="!hide" (click)="hide = !hide"> <i class="fa fa-eye-slash"></i></mat-icon>
                    </mat-form-field>   
                </div>
                    <button class="btn btn-success" type="submit">Connexion</button>
       
                <a class="nav-link" routerLink="forgotPassword">Mot de passe oublié ?</a>
            </form>
            </div>
        </div>

                  