.photoPrincipale{
    height: 300px;
    width: 300px;
}

.photoPrincipale:hover{
    cursor: zoom-in;
}


.cardOeuvre{
    text-align: center;
    margin-top : 20px;
    margin-bottom: 20px;
}

li{ 
 list-style-type: none   
}