 <div class="row">
    <h3> Merci de rentrer l'adresse mail de votre compte</h3>
    <div class="col-12 containtForm">
   
    <form (ngSubmit)="onForgotPassword(f)" #f="ngForm"  class="formAuth">
        <h5> Récupération du mot de passe</h5>
      <mat-form-field class="inputForm">
        <input matInput type="email" id="email" placeholder="Rentrez votre email" name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" ngModel email required>
        <mat-error *ngIf="!email.pattern || email.invalid">
            Mauvais format de mail
    </mat-error>
      </mat-form-field>
      
      <button class="btn btn-default" type="submit">Envoyez</button>
      <div *ngIf="isSend === true">Un mail vient de vous être envoyé. Vous pourrez reactiver
          votre mot de passe en cliquant sur le lien
        </div>
        <div *ngIf="isNotFound === true">Ce mail n'est pas présent dans notre base de donnée. 
          Merci de bien vouloir rentrer un mail valide
        </div>
    </form>
    </div>
  </div>

