<div class="container">
        <div class="row buttonMenu">
                <div class="col-4 d-none d-sm-block linkMenu" >
                        <a class="nav-link" routerLink="/bestiaire">Bestiaire</a>
                </div>
                <div class="col-4 d-none d-sm-block linkMenu">
                        <a class="nav-link" routerLink="/vegetal">Vegetal</a>
                </div>
                <div class="col-4 d-none d-sm-block linkMenu">
                        <a class="nav-link" routerLink="/deco">Deco</a> 
                </div>
        </div>
</div>
