.linkMenu{
    text-align: center; 
    margin-top : 20px;
    margin-bottom: 30px;
    text-decoration: none;
   
  
}

.linkMenu > a {
    color:black;
    font-weight: bold;
}

.linkMenu > a:hover{
    background-color: rgb(148, 148, 143);
}