            <!-- Card image -->
            <img
                class="card-img-top photoMuriel"
                src="http://static8.viadeo-static.com/EqDgaJ2pxd1SLWwo75Q7MQQx6OM=/300x300/member/0021wqb2domo4z89%3Fts%3D1381266610000"
                alt="Card image cap">
                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">
                        <a>Présentation</a>
                    </h4>
                    <!-- Text -->
                    <p class="card-text">Officia eiusmod magna proident consectetur dolor qui velit amet in ut.</p>
                    <!-- Button -->
                   

                </div>

