<div class="container">
  <div class="row">
    <div class="col-5 offset-3">
      <form>
        <h4>Ajouter un nouvel administrateur au site</h4>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="text" id="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="passwordCheck">Retappez votre mot de passe</label>
          <input type="text" id="passwordCheck" class="form-control">
        </div>
        <div class="form-group">
          <label for="alias">Prenom et Nom</label>
          <input type="text" id="passwordCheck" class="form-control" placeholder="prenomNom">
        </div>
        <button class="btn btn-default">Enregistrer</button>
      </form>
    </div>
  </div>
</div>