 <div class="row">
    <h3>Nouvel administrateur</h3>
    <div class="col-12 containtForm">
      <form [formGroup]="newUserForm" (ngSubmit)="onAddUser()" class="formAuth">
        <h5>Ajouter un nouvel administrateur au site</h5>
        <div>
          <mat-form-field class="inputForm">
          <mat-label>Prénom</mat-label>  
          <input matInput type="text" id="firstName" placeholder="Rentrez votre prénom"  formControlName="firstName" required>
          <mat-error *ngIf="!valid">Ce champs est requis</mat-error>  
        </mat-form-field> 
        </div>
        <div>
           <mat-form-field class="inputForm">
            <mat-label>Nom</mat-label>  
           <input matInput type="text" id="lastName" placeholder="Rentrez votre nom"  formControlName="lastName" required>
           <mat-error *ngIf="!valid">Ce champs est requis</mat-error>
          </mat-form-field> 
        </div>
        <div>
          <mat-form-field class="inputForm">
          <mat-label>Mot de passe</mat-label>  
          <input matInput  [type]="hide ? 'password' : 'text'" id="password" id="password" placeholder="Rentrez votre mot de passe"  [value]="password" (input)="updateValue($event)"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$" formControlName="password">
          <!-- <p *ngIf="!isPasswordValid">Le mot de passe doit avoir une lettre Majuscule, un chiffre et doit faire au minimum 8 caractères</p> -->
          <mat-icon matSuffix *ngIf="hide" (click)="hide = !hide"> <i class="fa fa-eye"></i></mat-icon>
          <mat-icon matSuffix *ngIf="!hide" (click)="hide = !hide"> <i class="fa fa-eye-slash"></i></mat-icon>
          <mat-error *ngIf="!valid">Mot de passe avec au minumum une majuscule, un chiffre et 8 caractères</mat-error>
        </mat-form-field> 
        </div>
        <div>
            <mat-form-field class="inputForm">
            <mat-label>Confirmez votre mot de passe</mat-label>  
            <input matInput  matInput  [type]="hide ? 'password' : 'text'" id="passwordCheck" placeholder="Confirmez votre mot de passe" formControlName="passwordCheck">
            <mat-icon matSuffix *ngIf="hide" (click)="hide = !hide"> <i class="fa fa-eye"></i></mat-icon>
            <mat-icon matSuffix *ngIf="!hide" (click)="hide = !hide"> <i class="fa fa-eye-slash"></i></mat-icon>
            <mat-error *ngIf="!valid">Mot de passe avec au minumum une majuscule, un chiffre et 8 caractères</mat-error>
          </mat-form-field> 
        </div>
        <div>
          <mat-form-field class="inputForm">
          <mat-label>Email</mat-label>  
           <input matInput name="email" type="email" id="email" placeholder="Rentrez votre email"  formControlName="email" >
           <!-- <mat-error *ngIf="newUserForm.get(email).hasError(validation.email)">erreur</mat-error> -->
          <mat-error *ngIf="!valid">Mail au mauvais format</mat-error>
          </mat-form-field> 
        </div>
        <button class="btn btn-default" [disabled]="newUserForm.invalid">Enregistrer</button>
      </form>
      <!-- <div *ngIf="isAlreadyLogded === true"> Ce mail est déjà enregistré. Impossible de créer le compte</div>
      <div *ngIf="checkPassword === true"> Les mots de passes ne correspondent pas. Merci de les retaper</div> -->
      <div *ngIf="isSuccess === true"> Nouvel administrateur créé ! </div>
    </div>
  </div>
