.photoModal{
    width:800px;
    height:600px;
}

.containerModal{
    text-align: center;
}


.close{
    position: absolute;
    top:0;
    right:0;
}

@media screen and (max-width: 540px) {
    .photoModal{
        width:180px;
        height:250px;
    }
  }




