h4,{
    text-align: center
}

.containerCard{
    text-align: center;
    margin : 30px 0px 30px 0px

}

.card{
    text-align: center;
    margin:auto;    
}

li{
    list-style-type: none
}

.photoPrincipale{
    width : 180px; 
    height : 180px;
    text-align: center;
    margin:auto;
   
}

.title{ 
    border:2px blue solid;
    width : 200px;
}

.cardOeuvre{ 
    display:flex;
    justify-content: space-around;
    
}

