  <div class="row">
      <h3> Recupération du mot de passe</h3>
    <div class="col-12 containtForm">
    
      <div> Compte associé au mail : {{mailForPassword}}</div>
      <form (ngSubmit)="onUpdatePassword(f)" #f="ngForm"  class="formAuth">
          <div>
              <mat-form-field class="inputForm">
              <mat-label>Mot de passe</mat-label>  
              <input matInput  [type]="hide ? 'password' : 'text'" id="password" placeholder="Rentrez votre mot de passe" (input)="updateValue($event)" [value]="password"  [(ngModel)]="updateAdmin.password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$" name="password" required>
              <!-- <p *ngIf="!isPasswordValid">Le mot de passe doit avoir une lettre Majuscule, un chiffre et doit faire au minimum 8 caractères</p> -->
              <mat-icon matSuffix *ngIf="hide" (click)="hide = !hide"> <i class="fa fa-eye"></i></mat-icon>
              <mat-icon matSuffix *ngIf="!hide" (click)="hide = !hide"> <i class="fa fa-eye-slash"></i></mat-icon>
              <mat-error *ngIf="!password.valid">Mot de passe avec au minumum une majuscule, un chiffre et 8 caractères</mat-error>
            </mat-form-field> 
            <div *ngIf="showProgressBar === true">
              <p><ngb-progressbar [type]="typeProgressbar" [value]="valueProgressBar"></ngb-progressbar></p>
              <p>Difficulté du mot passe : {{difficultyPassword}}</p>
            </div>
           
            </div>
            <div>
                <mat-form-field class="inputForm">
                <mat-label>Confirmez votre mot de passe</mat-label>  
                <input matInput  [type]="hide ? 'password' : 'text'" id="passwordCheck" placeholder="Rentrez votre mot de passe"  [value]="passwordCheck"  [(ngModel)]="updateAdmin.passwordCheck" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$" name="passwordCheck" required>
                <mat-icon matSuffix *ngIf="hide" (click)="hide = !hide"> <i class="fa fa-eye"></i></mat-icon>
                <mat-icon matSuffix *ngIf="!hide" (click)="hide = !hide"> <i class="fa fa-eye-slash"></i></mat-icon>
                <mat-error *ngIf="!passwordCheck.valid">Mot de passe avec au minumum une majuscule, un chiffre et 8 caractères</mat-error>
              </mat-form-field> 
            </div>
        <button class="btn btn-default" type="submit">Enregistrer</button>
      </form>
      <div *ngIf="isDifferentsPassword === true">Vos mots de passes sont différents. Merci de les ressaisir</div>
      <div *ngIf="isPasswordUpdated === true">Mot de passe mis à jour </div>
    </div>
  </div>

