<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h3> Recupération du mot de passe</h3>
      <div> Compte associé au mail : {{mailForPassword}}</div>
      <form (ngSubmit)="onUpdatePassword(f)" #f="ngForm">
      <div class="form-group">
          <label for="password">Nouveau mot de passe</label>
          <input type="password" id="password" class="form-control" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$" ngModel>
          
        </div>
        <div class="form-group">
          <label for="passwordCheck">Retappez votre mot de passe</label>
          <input type="password" id="passwordCheck" class="form-control" name="passwordCheck" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$" ngModel>
        </div>
        <button class="btn btn-default" type="submit">Enregistrer</button>
      </form>
      <div *ngIf="isDifferentsPassword === true">Vos mots de passes sont différents. Merci de les ressaisir</div>
      <div *ngIf="isPasswordUpdated === true">Mot de passe mis à jour </div>
    </div>
  </div>
</div>
