.close{
    position: absolute;
    top:0;
    right:0;
}

.containerModal{
    text-align: center
}

.list{
    margin-top:20px;
    text-align: left;
}

span{
    font-weight: bold;
    text-decoration: underline;
  }

.photoOeuvre{
    height:70vh;
}

@media screen and (max-width: 540px) {
    .photoOeuvre{
        width:230px;
        height:230px;
    }
  }
