.close{
    position: absolute;
    top:0;
    right:0;
}

.containerModal{
    text-align: center
}

.list-group-item{
    margin-top:20px;
}

.photoOeuvre{
    height:70vh;
}

@media screen and (max-width: 540px) {
    .photoOeuvre{
        width:230px;
        height:230px;
    }
  }
