<div class="container">
  <div class="row">
    <div class="col-12 containerModal">
      <img src={{oeuvre.Aphoto_principale}} alt="photo oeuvre" class="photoOeuvre">
      <i class="fa fa-times-circle fa-3x close" (click)="onCloseCancel()"></i>
    </div>
    <div class="col-12">
      <ul class="list">
        <li><span>Nom de l'oeuvre : </span> {{oeuvre.name}}</li>
        <li><span>Materiaux utilisé :</span>{{oeuvre.materials}}</li>
        <li><span>Largeur (cm) : </span> largeur : {{oeuvre.width}}</li>
        <li><span>Hauteur (cm) : </span> hauteur : {{oeuvre.height}}</li>
        <li><span>Description : </span>{{oeuvre.reproduction}}</li>
      </ul>
    </div>
  </div>
</div>