<div class="container containerData">
    <div class="row">
        <div class="col-8">
            <h2>Bienvenue
                {{userLog}}</h2>
        </div>
        <div class="col-4">
            <button class="btn btn-group-sm btn-deconnexion" (click)="onNavigateNewUser()">
                Ajout Administrateur
            </button>
        </div>
    </div>
    <div class="row adminButton">
        <div class="col-3">
            <button class="btn btn-default btn-bestiaire" (click)="onShowBestiaire()">Bestiaire</button>
        </div>
        <div class="col-3">
            <button class="btn btn-default btn-vegetal" (click)="onShowVegetal()">Vegetal</button>
        </div>
        <div class="col-3">
            <button class="btn btn-default btn-deco" (click)="onShowDeco()">Deco</button>
        </div>
        <div class="col-3">
            <button class="btn btn-default btn-carousel" (click)="onShowCarousel()">Carousel</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div *ngIf="showBestiaire">
                <h4>
                    Administration de la table Bestiaire</h4>
                <div *ngFor="let oeuvre of bestiaire" class="list-group-item listOeuvre">
                    <div class=" detailOeuvre">
                        {{oeuvre.name}}
                    </div>
                    <i
                        class="fa fa-edit fa-3x btn-modifier"
                        (click)="openDialogToEditBestiaire(oeuvre)"></i>
                    <i
                        class="fa fa-times-circle fa-3x btn-suppression"
                        (click)="onDeleteOeuvre('bestiaire', oeuvre.id, oeuvre.name)"></i>

                </div>

                <button class="btn btn-primary" (click)="openDialogToAddBestiaire()">Ajoutez dans Bestiaire</button>
            </div>
            <div *ngIf="showVegetal">
                <h4>
                    Administration de la table Vegetal</h4>
                <div *ngFor="let oeuvre of vegetal" class="list-group-item listOeuvre">
                    <div class=" detailOeuvre">
                        {{oeuvre.name}}
                    </div>
                    <i
                        class="fa fa-edit fa-3x btn-modifier"
                        (click)="openDialogToEditVegetal(oeuvre)"></i>
                    <i
                        class="fa fa-times-circle fa-3x btn-suppression"
                        (click)="onDeleteOeuvre('vegetal',oeuvre.id, oeuvre.name)"></i>

                </div>

                <button class="btn btn-primary" (click)="openDialogToAddVegetal()">Ajoutez dans Vegetal</button>

            </div>
            <div *ngIf="showDeco">Administration de la table Deco</div>
            <div *ngIf="showCarousel">
                <div *ngFor="let photo of carousel" class="list-group-item blocCarousel">
                    <div class="namePhotoCarousel">
                        {{photo.name}}
                    </div>
                    <div>
                        <img src={{photo.Asource}} alt="photo_carousel" class="photo_carousel">
                        <form action="/file/upload" method="POST" enctype="multipart/form-data">
                            <div>
                            <input type="file" name="file" (change)="onFileChanged($event)" accept="image/x-png,image/jpeg" />>
                            </div>
                            <div>
                            <button (click)="onUpload(photo.id)">Envoyer</button>
                            </div>
                            </form>
                        </div>

                    </div>

                </div>
                
            </div>

        </div>
    </div>